.ConfigTabs {
  margin: auto;
  display: block;
  overflow: auto;
}

.ConfigTabPanel {
  margin: 1px;
}

.ProcessButtons {
  
}

.ProcessButton {
  margin-right: 5px;
  margin-left: 5px;
}

.RefreshProcessButton {
  
}

.StartProcessButton {
  
}

.StopProcessButton {
  
}
