.LogPanel {
  background-color: #DDDDDD;
  padding: 2px;
  overflow-y: scroll;
  height: 100%;  
  width: 100%;  
  display: block;
  max-height: 800px;
}

.LogLine {
  background-color: #FFFFF0;
  margin: 3px;  
  line-height: 1.2em;
  font-family: monospace;
  font-size: medium;
}