.Wrapper {
  text-align: center;
}

.App {
  display: inline-block;
  text-align: left;
}

.App-header {
  background-color: #E0E0E0;
  height: 50px;
  width: 970px;
  line-height: 50px;  
  color: black;
  text-align: left;
  margin-left: 15px;
}

.App-logo {
  height: 50px;
  float: left;
  vertical-align: middle;
  margin-right: 20px;
  margin-left: 18px;
}

.App-title {
  display: inline-block;
  vertical-align: middle;
}

.App-title-text {
  font-size: 2.0em;
  margin: 0;
  padding : 0;
  line-height: 1.0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

