.ProcessesTable {
    margin: 10px;
    background-color: white;
}

.PresetSectionContainer {

}

.PresetsConfigTabs {
  margin: auto;
  display: block;
  overflow: auto;
}

.PresetsConfigTabPanel {
  margin: 1px;
}

.PresetItem {
  margin: 0;
  padding : 0;
  line-height: 1.5em;
}

.ApplyPresetsButton {
  margin-right: 5px;
  margin-left: 5px;  
  float: left;
  height: 25px;
}